@use 'variables';
@use 'mixins';

.contato-card {
  background-color: variables.$card-bg;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: variables.$card-shadow;
  margin-bottom: 0.75rem;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  
  hr {
    opacity: 0.75;
    margin-bottom: 0.75rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-end;

    .btn-editar{
      @include mixins.botao-padrao(0.5rem);
      display: flex;
      gap: 0.3rem;
      font-weight: 400;
      align-items: center;
    }

    .btn-excluir{
      
      @include mixins.botao-padrao(0.5rem, false, variables.$vermelho, false);
      display: flex;
      gap: 0.3rem;
      align-items: center;

    }

  }

  &:hover {
    transform: translateY(-2px);
  }

  p {
    margin: 5px 0;
  }

  .description {
    color: variables.$secondary-color;
  }
}
