<h1>ADAgenda</h1>

<div class="container">
  <div class="formSection">
    <input placeholder="Digite um nome" />
    <button>Adicionar</button>
  </div>

  <div class="listSection">
    <h3>Usuários cadastrados:</h3>
    <app-user-card-component></app-user-card-component>
    <app-user-card-component></app-user-card-component>
    <app-user-card-component></app-user-card-component>
  </div>
</div>

<app-contato-modal
  *ngIf="exibirModal"
  [user]="user"
  (fechar)="fecharModal()"
  (salvar)="salvarUsuario($event)">
</app-contato-modal>

<app-contato-modal-exclusao
  *ngIf="exibirModalExclusao"
  [user]="user"
  (fecharModalExclusao)="fecharModalExclusao()"
  (excluirContato)="deletarContato($event)">
</app-contato-modal-exclusao>
