<h1><span>ADA</span>genda de Contatos</h1>

<div class="container">
  <div class="formSection">
    <button (click)="abrirModalAdicionarContato()" class="addContato">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>  
      <span>Novo Contato</span>
    </button>
    <input #inputFiltro type="text" placeholder="🔍 Digite um nome" />
  </div>

  <div class="listSection">
    <h3>Contatos cadastrados:</h3>
    <app-contato-card-component *ngFor="let contato of contatosParaMostrar(); trackBy: trackById" 
      [contato]="contato"
      (excluirContato)="excluirContato($event)"
      (atualizarContato)="editarContato($event)"
    />
    <div *ngIf="naoTemContatosCadastrados()" class="contatos-vazio">
      <p class="sem-contatos" >
        Não existem contatos cadastrados. Que tal cadastrar seu primeiro?
      </p>

      <button (click)="abrirModalAdicionarContato()" class="addContato">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>  
        <span>Novo Contato</span>
      </button>
    </div>
    <div *ngIf="naoEncontrouResultados()" class="filtro-sem-resultado">
      Sem resultados para sua pesquisa 😭
    </div>
  </div>
</div>

<app-edicao-contato-modal

  *ngIf="exibirModal"
  [contato]="contatoSelecionado"
  [tipoDeModal]="this.tipoDeModal"
  (fechar)="fecharModal()"
  (salvar)="salvarContato($event)">
</app-edicao-contato-modal>


<app-contato-modal-exclusao
  *ngIf="exibirModalExclusao"
  [contato]="contatoSelecionado"
  (fecharModalExclusao)="fecharModalExclusao()"
  (excluirContato)="deletarContato($event)">
</app-contato-modal-exclusao>

