/* You can add global styles to this file, and also import other style files */
@use 'variables';
@use 'mixins';

h1{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-block: 30px;

  span{
    color: #A6F750;
    background-color: rgb(15, 18, 22);
    padding: 0.25rem;
    border-radius: 0.35rem;
  }
}

.container {
  width: 600px;
  max-width: 800px;
  margin: 30px auto;
  background-color: variables.$background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: variables.$card-shadow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: variables.$text-color;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .addContato{
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.botao-padrao();

    span {
      line-height: 100%;
    }

  }

  input {
    padding: 10px;
    border: 1px solid lighten(variables.$primary-color, 30%);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: variables.$primary-color;
    }
  }
}


.listSection {
  margin-top: 30px;

  .sem-contatos{
    margin-bottom: 1rem;
  }

  .addContato{
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.botao-padrao();

    span {
      line-height: 100%;
    }

  }

  h3 {
    margin-bottom: 15px;
    color: darken(variables.$primary-color, 15%);
  }
}
